@model eRNI.Models.KeyDocumentCategory

<style>
    .modal {
        overflow-y: auto;
    }

    .modal-noscrollbar {
        margin-right: 0 !important;
    }
</style>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"><img src="~/Images/categories.png" height="50" width="50" /> Edycja kategorii</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.keyDocumentName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.keyDocumentName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.KeyDocumentCategoryID)
                    @Html.ValidationMessageFor(model => model.keyDocumentName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-primary btn-sm" />
                <button class="btn btn-warning btn-sm" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/modal-scrollbar-remove.js"></script>
