@model IEnumerable<eRNI.Models.Invoice>

@{
    ViewBag.Title = "Lista faktur";
}

<h3><img src="~/Images/list.png" height="50" width="50" />  Faktury</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="@Url.Action("Index", "Projects")" data-toggle="tooltip" data-placement="top" title="Powrót do listy projektów"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Powrót</a>
        <span style="float:right;">Ilość: @Model.Count() szt.</span>
    </div>

    <div class="panel-body">

        <table class="table data-Table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceIssueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceNettoValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceTax)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceSellerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceSapRegistrationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceSapRegisterNo)
                    </th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceNo)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceIssueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceNettoValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceTax)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceSellerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceSapRegistrationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.invoiceSapRegisterNo)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Details", "Projects", new { id = item.projectID }, new { @class = "glyphicon glyphicon-hand-right", data_toggle = "tooltip", data_placement = "left", title = "Idź do projektu", style = "font-size: 1.3em" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>