@model eRNI.Models.Localization

@{
    ViewBag.Title = "Nowa lokalizacja";
}

<h2><img src="~/Images/add.png" height="64" width="64" /> Nowa lokalizacja w projekcie</h2>

<div>    @Html.ActionLink("Powrót", "Details", "Projects", new {id = ViewBag.projID }, null) </div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.projectID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("projectID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectID, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.localizationLandRegister, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.localizationLandRegister, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.localizationLandRegister, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.localizationMapNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.localizationMapNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.localizationMapNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.localizationPlotNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.localizationPlotNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.localizationPlotNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.localizationPrecinct, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.localizationPrecinct, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.localizationPrecinct, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.localizationRegulationStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.localizationRegulationStatus, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.localizationRegulationStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.localizationStreets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.localizationStreets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.localizationStreets, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.placeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("placeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.placeID, "", new { @class = "text-danger" })
            </div>
        </div>

        

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    }

   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
