@model eRNI.Models.Localization

@{
    ViewBag.Title = "Szczegóły lokalizacji";
}


<h2><img src="~/Images/details.png" height="64" width="64" /> Szczegóły lokalizacji urządzeń w projekcie <span style="color:#b200ff; font-weight:bold">(@ViewBag.projectId)</span> <span style="color:#ff006e; font-weight:bold">@ViewBag.projctSapNo</span></h2>
<div>
    @Html.ActionLink("Powrót", "Details", "Projects", new { id = ViewBag.projectId },null)

    <div style="position: relative; top: -30px; left: -100px; float:right" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Akcje
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/Localizations/Edit/@Html.DisplayFor(model => model.localizationID)">Edytuj lokalizację</a></li>
            <li><a href="/Localizations/Create/@Html.DisplayFor(model => model.localizationID)">Dodaj Lokalizację</a></li>
            <li><a href="/Owners/Create">Dodaj Właściciela</a></li>
            <li><a href="Devices/Create">Dodaj Urządzenie</a></li>
        </ul>
    </div> 

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.localizationLandRegister)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.place.placeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localizationStreets)
            </th>
            <th style="width: 50px">
                @Html.DisplayNameFor(model => model.localizationPlotNo)
            </th>
            <th style="width: 50px">
                @Html.DisplayNameFor(model => model.localizationMapNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localizationPrecinct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localizationRegulationStatus)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.localizationLandRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.place.placeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.localizationStreets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.localizationPlotNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.localizationMapNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.localizationPrecinct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.localizationRegulationStatus)
            </td>
        </tr>
    </table>

   @{Html.RenderAction("LocalizationOwners", "Localizations", new { id = Model.localizationID });}
</div>


