@model eRNI.Models.Owner

@{
    ViewBag.Title = "Usunięcie podmiotu";
}

<h2><img src="~/Images/delete.png" height="64" width="64" /> Usunięcie podmiotu</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="@Url.Action("Details", "Localizations", new { id = ViewBag.localizationID })"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Powrót</a>
    </div>
    <div class="panel-body">
        <div style="color:crimson; text-align:center; font-size:larger">Czy na pewno chcesz usunąć <strong>wszystkie dane</strong> związane z tym właścicielem nieruchomości ?</div>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.street.streetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.street.streetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerAdditionalInfo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerAdditionalInfo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerHouseNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerHouseNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerAptNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerAptNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerCellPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerCellPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerPostOffice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerPostOffice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerZipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ownerCity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ownerCity)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Usuń" class="btn btn-primary btn-lg" />
                </div>
            }
        </div>
    </div>
</div>