@model IEnumerable<eRNI.Models.Owner>

@{
    ViewBag.Title = "Lista podmiotów";
  
}

<h3><img src="~/Images/list.png" height="50" width="50" />  Podmioty</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="@Url.Action("Index", "Projects")" data-toggle="tooltip" data-placement="top" title="Powrót do listy projektów"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Powrót</a>
        <span style="float:right;">Ilość: @Model.Count() szt.</span>
    </div>

    <div class="panel-body">


        <table class="table data-Table table-striped">
            <thead>
            <tr>
                <th>
                   Teczka
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.street.streetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerHouseNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerAptNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerPostOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerCellPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerEmail)
                </th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var i = item.ownershipCollection.Where(o => o.ownerID == item.ownerID).Select(l => l.tblLocalizations).Select(x => x.projectID).FirstOrDefault().ToString();
                    var s = string.Empty;
                    if (i == "0") { i = "brak"; }
                    else {
                        s = item.ownershipCollection.Where(o => o.ownerID == item.ownerID).Select(l => l.tblLocalizations).Select(x => x.project.projectSapNo).FirstOrDefault().ToString();
                    }
                    <tr>
                        <td>
                            <span style="font-weight:bolder; color:blueviolet; ">(@i)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.street.streetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerHouseNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerAptNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerPostOffice)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ownerCity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerCellPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ownerEmail)
                        </td>
                        
                        <td>
                            @{if (@i != "brak")
                                {
                                    var localizationID = item.ownershipCollection.Where(o => o.ownerID == item.ownerID).Select(l => l.tblLocalizations).Select(x => x.localizationID).FirstOrDefault();
                                    @Html.ActionLink(" ", "Details", "Localizations", new { id = localizationID }, new { @class = "glyphicon glyphicon-hand-right", data_toggle = "tooltip", data_placement = "left", title = "(" +i +") "+ s, style = "font-size: 1.3em" })
                                }
                                else
                                {
                                    @Html.ActionLink(" ", "Delete", new { id = item.ownerID }, new { @class = "glyphicon glyphicon-trash", data_toggle = "tooltip", data_placement = "left", title = "usuń", style = "font-size: 1.3em" })
                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>