@model eRNI.Models.RegulationDocument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegulationDocument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.regulation.regulationAdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regulation.regulationAdditionalInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regulationDocumentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regulationDocumentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regulationDocumentSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regulationDocumentSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regulationDocumentSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regulationDocumentSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regulationDocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regulationDocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regulationDocumentLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regulationDocumentLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.regulationDocumentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
