@model IEnumerable<eRNI.Models.RegulationDocument>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.regulation.regulationAdditionalInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regulationDocumentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regulationDocumentSignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regulationDocumentSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regulationDocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regulationDocumentLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.regulation.regulationAdditionalInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regulationDocumentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regulationDocumentSignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regulationDocumentSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regulationDocumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regulationDocumentLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.regulationDocumentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.regulationDocumentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.regulationDocumentID })
        </td>
    </tr>
}

</table>
