@model IEnumerable<eRNI.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h4><img src="~/Images/invoices.png" height="40" width="40" /> Faktury</h4>

<table class="table partial-table" id="invoices-th">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.invoiceAdditionalInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceIssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceNettoValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceSapRegisterNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceSapRegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceSellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invoiceTitle)
        </th>
        <th style="text-align:right">Akcja</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.invoiceAdditionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceIssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceNettoValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceSapRegisterNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceSapRegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceSellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceTitle)
            </td>
            <td style="text-align:right">
                @Html.ActionLink(" ", "Edit", "Invoices", new { id = item.invoiceID }, new { @class = "glyphicon glyphicon-edit", data_toggle = "tooltip", data_placement = "left", title = "Edytuj fakturę" })
                @Html.ActionLink(" ", "Delete", "Invoices", new { id = item.invoiceID }, new { @class = "glyphicon glyphicon-trash", data_toggle = "tooltip", data_placement = "right", title = "Usuń fakturę" })
            </td>
        </tr>
    }

</table>

