@model IEnumerable<eRNI.Models.KeyDcument>

@{
    ViewBag.Title = "Dokumenty kluczowe";
    var id = ViewBag.projectID;
}

<div>
    <div style="float:left; width: 60%"><h4><img src="~/Images/documents.png" height="40" width="40" /> @ViewBag.Title</h4></div>
    <div style="float:right; width: 40%; text-align:right; padding-top:20px; padding-right:25px; font-size:larger">@Html.ActionLink(" ", "PrintKeyDocuments", "Projects", new { @id }, new { @class = "glyphicon glyphicon-print", data_toggle = "tooltip", data_placement = "left", title = "Drukuj" })</div>
</div>


<table class="table partial-table" id="keyDocuments-th">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.keyDocumentCategory.keyDocumentName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.keyDocumentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.keyDocumentSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.keyDocumentObtainment)
        </th>
        <th style="text-align:right">Akcja</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.keyDocumentCategory.keyDocumentName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.keyDocumentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keyDocumentSign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keyDocumentObtainment)
            </td>
            <td style="text-align:right">
          
         @if (!this.User.IsInRole("SuperUser") && this.User.Identity.Name != item.project.projectLeader)
            {
                @Html.ActionLink(" ", "Edit", "KeyDocuments", new { id = item.keyDocumentID }, new { @class = "glyphicon glyphicon-edit", data_toggle = "tooltip", data_placement = "left", title = "Edytuj dokument", onclick = "javascript: window.alert('Operacja zastrzeżona dla Prowadzącego !'); return false;" })
                @Html.ActionLink(" ", "Delete", "KeyDocuments", new { id = item.keyDocumentID }, new { @class = "glyphicon glyphicon-trash", data_toggle = "tooltip", data_placement = "right", title = "Usuń dokument", onclick = "javascript: window.alert('Operacja zastrzeżona dla Prowadzącego !'); return false;" })
            }
         else
         {
            @Html.ActionLink(" ", "Edit", "KeyDocuments", new { id = item.keyDocumentID }, new { @class = "glyphicon glyphicon-edit", data_toggle = "tooltip", data_placement = "left", title = "Edytuj dokument" })
            @Html.ActionLink(" ", "Delete", "KeyDocuments", new { id = item.keyDocumentID }, new { @class = "glyphicon glyphicon-trash", data_toggle = "tooltip", data_placement = "right", title = "Usuń dokument" })

         }
            </td>
        </tr>
            }

</table>

