@model IEnumerable<eRNI.Models.Localization>

@{
    ViewBag.Title = "Lokalizacja urządzeń";
}
<div style="position: relative; float: right; margin-top: 20px; left:-20px"><img src="~/Images/deep.png" height="28" width="17" /></div>
<h4><img src="~/Images/localization.png" height="40" width="40" /> Lokalizacja urządzeń</h4>

<table class="table partial-table" id="localizations-th">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.localizationLandRegister)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizationPlotNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizationMapNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizationPrecinct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizationStreets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.place.placeName)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.localizationRegulationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizationRegion)
        </th>
        
        <th style="text-align:right">Akcja</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.localizationLandRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizationPlotNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizationMapNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizationPrecinct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizationStreets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place.placeName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.localizationRegulationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizationRegion)
            </td>
            <td style="text-align:right">
                @Html.ActionLink(" ", "Details", "Localizations" ,new { id = item.localizationID }, new { @class = "glyphicon glyphicon-info-sign", data_toggle = "tooltip", data_placement = "left", title = "Szczegóły lokalizacji" })
               
                @if (!this.User.IsInRole("SuperUser") && this.User.Identity.Name != item.project.projectLeader)
                {
                    @Html.ActionLink(" ", "Delete", "Localizations", new { id = item.localizationID }, new { @class = "glyphicon glyphicon-trash", data_toggle = "tooltip", data_placement = "right", title = "Usuń projekt", onclick = "javascript: window.alert('Operacja zastrzeżona dla Prowadzącego !'); return false;" })
                }
                else
                {
                    @Html.ActionLink(" ", "Delete", "Localizations", new { id = item.localizationID }, new { @class = "glyphicon glyphicon-trash", data_toggle = "tooltip", data_placement = "right", title = "Usuń projekt" })
                }
            </td>
        </tr>
     }
</table>
